-<div class="post">
  <h1 class="title">Welcome on CatsFights page!</h1>
  <p class="meta"><span class="date">Jul 29, 2012</span><span class="posted">Posted by <a href="#">Maciej Lorens</a></span></p>
  <div style="clear: both;"></div>
  <div class="entry">
    <p>
      On this page you can type the coolest cats on the world! ;-)
    </p>
    <p>
      To start the fun, just click on the 'fights' tab and vote for cat witch is cooler
    </p>
    <p>
      I wish you to have fun!
    </p>
  </div>
</div>

-<div class="post">
  <h1 class="title">Page relase!</h1>
  <p class="meta"><span class="date">Jul 28, 2012</span><span class="posted">Posted by <a href="#">Maciej Lorens</a></span></p>
  <div style="clear: both;"></div>
  <div class="entry">
    <p>
      Im happy to inform you that CatsWars page have revealed!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non magna tincidunt metus feugiat venenatis.
      In hac habitasse platea dictumst. Proin ut sapien sit amet sem faucibus imperdiet sed cursus magna. Aenean vitae risus
      non elit lobortis fringilla. Ut turpis enim, vehicula id euismod consectetur, dapibus a felis. In hac habitasse platea dictumst.
      Donec placerat augue at risus consequat pellentesque. Nullam commodo, mi quis aliquet fermentum, diam mi vulputate elit,
      vitae auctor nunc magna vel nisl. In lacus est, scelerisque sit amet luctus ac, fermentum ut lorem. Fusce volutpat venenatis
      sem, quis bibendum libero consectetur sed.
    </p>
  </div>
</div>